
/*Estilo Geral*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  height: 100vh;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}
.logo img{
  max-width: 150px;
  max-height: 100px;
}
/*Estilo Cabeçalho*/
header{
  padding: 40px 4px;
}
header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}